@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-weight: 300;
  scroll-behavior: smooth;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #414141;
  background-color: #ffffff;
  overflow-x: hidden;
}

@media (min-width: 2500px) {
  .grid-cols-24 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Akira";
  src: url("/fonts/Akira_Expanded.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

.active {
  color: #187d35;
  /* border-bottom: 0.1rem solid #187d35; */
}

.active:hover {
  color: #187d35 !important;
}

.active .menulink span:nth-child(2),
.active .menulink span:nth-child(3) {
  width: 50%;
  background-color: #187d35;
  color: #187d35;
}

.menulink:hover span {
  width: 50%;
}

.background {
  background: linear-gradient(180deg, #f8f8f8 50%, #ffffff 50%);
}

.background-stockholder {
  background: linear-gradient(180deg, #f8f8f8 85%, #ffffff 85%);
}

@media (max-width: 820px) {
  .background,
  .background-stockholder {
    background: #f8f8f8;
  }
}

nav,
.mobilenav {
  backdrop-filter: blur(2.5px);
}

@media (max-width: 820px) {
  nav {
    background: linear-gradient(180deg, #dedede43 36%, #ffffff5e 36%);
  }
}

@media (max-width: 500px) {
  nav {
    background: #ffffff;
  }
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: -1.5rem;
  width: 100%;
  height: 100%;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #414141;
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
